.form_container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20vh;
    flex-direction: column;

    .input{
        color: black;
    }
}

.table_container{
    width: 500px;
    margin-top: 50px;

    @media only screen and (max-width: 1000px){
        max-width: 300px;
    }
}