.card_container{
    max-width: 270px;
    padding: 3%;
    border-radius: 20px;
    background: #EFEFEF;

    .image_container{
        display: flex;
        justify-content: center;
    }
}